*{
    margin: 0;
    padding: 0;

}
:root{
    --navbar-height:59px;
}
#navbar{
    display: flex;
    align-items: center;
    position: relative;


}
#logo{
    margin: 10px 34px;

}
#logo img{
margin: 2px 3px;
height: 80px;

}
#navbar ul{
    display: flex;

}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .89;
}
#navbar ul li{
   color: rgb(245, 242, 242);
   list-style: none;
   font-size: 1.3rem;

}
#navbar ul li a{
display: block;
padding: 3px 22px;
border-radius:20px;
text-decoration: none;
}
#navbar ul li a:hover{
    color: red;
    background-color: white;
}
/* home section  */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;

}
#home::before{
    content: "";
    background:url(/panir.png) no-repeat center center/cover;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .89;
}
#home h1{
    color: white;
    text-align: center;
    font-size: 2.54rem;
}
.primary{
    font-size: 2.5rem;
    padding: 12px;

}
.button{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 12px;
    cursor: pointer;
}
